Source: stsbl-iserv-server-tayga
Section: misc
Priority: standard
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv3-dev
Standards-Version: 4.1.3

Package: stsbl-iserv-server-tayga
Architecture: all
Conflicts:
  stsbl-iserv-server-ferm-ipv6,
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-portal (>= 17.11.27-0),
  iserv-server-ferm (>= 18.04.10),
  sipcalc,
  stsbl-iserv-ipv6-support,
  tayga,
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: IServ Tayga Server
 Provides configuration for Tayga, a NAT64 tunnel server
Tag: suite::iserv:portal
